<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Workouts</title>
    <link rel="stylesheet" href="/css/free-Workout-Page-Style.css" />
</head>

<body>
    <%- include('partials/Navigation-Index') %>

    <h1 class="title">My Workouts</h1>

    <section class="workouts">
        <% exercises.forEach(exercise => { %>
            <div class="card">
                <img src="<%= exercise.exerciseimage %>" alt="<%= exercise.exercisename %>" class="workout-image" />
                <div class="workout-details">
                    <h2><%= exercise.exercisename %></h2>
                    <p><%= exercise.exercisedescription %></p>
                </div>
            </div>
        <% }); %>
    </section>

    <script src="/js/free-Workout-Page-JavaScript.js"></script>

</body>

</html>
