<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nutrition, Gym, and Supplements</title>
  <link rel="stylesheet" href="/css/Profile-Styles.css" />
</head>
<body>
  <%- include('partials/Navigation-Index') %>

  <h1 class="profile-heading">Profile</h1>

  <div class="card-container">
    <div class="card">
      <img src="/images/PP.png" alt="Profile Picture" class="card-image" />
      
      <div>
        <p>Name: <span id="userName"><%= user.fullname %></span></p>
        <p>Email: <span id="userEmail"><%= user.useremail %></span></p>
        <p>Address: <span id="userAddress"><%= user.address %></span></p>
        <p>Gender: <span id="userGender"><%= user.gender %></span></p>
        <p>Age: <span id="userAge"><%= user.age %></span></p>
        <p>Subscription Status: <span id="userSubscriptionStatus"><%= user.Subscription %></span></p>
      </div>
      
      <div class="button-group">
        <button id="workoutsButton">My Workouts</button>
        <button id="mealsButton">My Meals</button>
        <button id="subscriptionButton">Subscription</button>
      </div>
    </div>
  </div>

  <script src="/js/Profile-JavaScript.js"></script>
</body>
</html>