<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nutrition, Gym, and Supplements</title>
  <link rel="stylesheet" href="/css/Profile-Styles.css" />
</head>
<body>
  <%- include('partials/Navigation-Index') %>

  <h1 class="profile-heading">My Profile</h1>

  <div class="profile-container" data-user-id="<%= user._id %>">
    <div class="profile-image-container">
      <img src="<%= user.img %>" alt="Profile Picture" class="profile-image" id="profileImage" />
    </div>

    <div class="profile-details">
      <p>Name: <span id="userName"><%= user.fullname %></span> 
      <p>Email: <span id="userEmail"><%= user.useremail %></span> 
      <p>Address: <span id="userAddress"><%= user.address %></span> 
      <p>Gender: <span id="userGender"><%= user.gender %></span>
      <p>Age: <span id="userAge"><%= user.age %></span> 
      <p>Subscription Status: <span id="userSubscriptionStatus"><%= user.Subscription %></span>
      <p>Phone Number: <span id="userPhoneNumber"><%= user.userphone %></span> 

      <% if (user.visa && user.visa.length > 0) { %>
        <h2 style="color: black;">Visa Information</h2>
        <select id="visaSelect" onchange="showVisaDetails()">
          <option value="">Select Visa</option>
          <% user.visa.forEach(function(visa, index) { %>
            <option value="<%= index %>">Visa <%= index + 1 %></option>
          <% }); %>
        </select>
        <% user.visa.forEach(function(visa, index) { %>
          <div class="visa-details hidden" id="visaDetails<%= index %>">
            <p>Cardholder Name: <span id="visaCardholderName<%= index %>"><%= visa.cardholdername %></span> 
            <p>Expire Date: <span id="visaExpireDate<%= index %>"><%= visa.expiredate %></span>
            <p>Card Number: ************ <span id="visaLast4Digits"><%= visa.last4digits %></span> 
            <button class="remove-visa-button hidden">Remove Visa</button>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>

  <div class="button-group">
    <button id="workoutsButton">My Workouts</button>
    <button id="mealsButton">My Meals</button>
    <button id="subscriptionButton">Subscription</button>
    <button id="editProfiletoDelete">Delete My Profile</button>

    <button id="deleteAccountButton" class="hidden" style="background-color: red;">Delete Account</button>
  </div>

  

  <script src="/js/Profile-JavaScript.js"></script>
</body>
</html>
