<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Workouts</title>
    <link rel="stylesheet" href="/css/Push-Workout-Style.css">
</head>

<body>
    <%- include('partials/Navigation-Index') %>
    <h2 class="title">Push Workouts</h2>
    <section class="workouts">
        <% exercises.forEach(exercise => { %>
            <div class="card">
                <img src="<%= exercise.exerciseimage %>" alt="<%= exercise.exercisename %>" class="workout-image">
                <div class="workout-details">
                    <h2><%= exercise.exercisename %></h2>
                    <p><%= exercise.exercisedescription %></p>
                </div>
            </div>
        <% }); %>
    </section>

    <script src="/js/Push-Workout-JavaScript.js"></script>
</body>
</html>
